---
import { type CollectionEntry, getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout
    title={post.data.title + " | @mtstnt Blog"}
    description={post.data.description}
>
    <div class="container flex justify-center min-h-screen">
        <div class="w-full sm:w-9/12 p-5 sm:p-0">
            <h1 class="text-3xl text-center font-bold mb-3">
                {post.data.title}
            </h1>
            <h3 class="text-center mb-2">
                <FormattedDate date={post.data.publishDate} />
            </h3>
            <hr class="my-5" />
            <div class="content p-3">
                <Content />
            </div>
        </div>
    </div>
</MainLayout>
