---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf()
);
---

<MainLayout
	title="Blog | Matthew Sutanto"
	description="List of articles from Matthew Sutanto."
>
	<h1 class="text-3xl p-2 text-center mb-5 font-semibold">Blog</h1>
	<p class="text-center w-9/12 mb-5 mx-auto">
		Some blog posts I wrote. Most of them are my learning notes and some
		things I found out that might be helpful for someone.
	</p>

	<div class="w-8/12 sm:w-4/12 mx-auto flex shadow">
		<input
			type="text"
			name="searchText"
			id="searchText"
			class="p-2 rounded-md border w-full text-black"
			placeholder="Search..."
		/>
	</div>

	<div class="flex flex-wrap flex-row w-11/12 sm:4/12 p-5 mx-auto">
		{
			posts.map((post) => {
				const excerpt = post.data.description.length > 100 ? post.data.description.substring(0, 100) + "..." : post.data.description;
				return (
					<div class="w-4/12 p-2">
						<a
							href={`/blog/${post.slug}/`}
							class="block shadow border hover:border-blue-900 rounded-lg p-5 min-h-50 h-56"
						>
							<h4 class="text-lg font-semibold post-title mb-2">
								{post.data.title}
							</h4>
							<span>{post.data.tags?.join(", ") ?? ""}</span>
							<p class="date mb-2">
								<FormattedDate date={post.data.publishDate} />
							</p>
							<p>{excerpt}</p>
						</a>
					</div>
				);
			})
		}
	</div>
</MainLayout>
