---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home | Matthew Sutanto" description="The home page">
	<h1 class="text-3xl font-bold mb-3">Hello world!</h1>
	<p>
		Welcome to my personal website. The home page is currently empty, but I will fill it as soon as possible. <br>
		In the meantime, please visit my blog and portfolios page. Thank you!
	</p>
</MainLayout>
