---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home | Matthew Sutanto" description="The home page">
	<h1 class="text-3xl font-bold mb-3">Hello world!</h1>
	<p>
		I haven't put any content in this page. But try visiting the <a
			class="text-green-300 hover:underline"
			href="/blog">blog</a
		> for something fancy!
	</p>
</MainLayout>
