---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Porfolio | Matthew Sutanto" description="">
    <Navbar />
    <div class="flex justify-center items-center" style="height: 90vh">
        <h1 class="text-3xl font-semibold">Coming Soon :)</h1>
    </div>
</MainLayout>
