<nav class="flex top-0 justify-center items-center p-3 shadow mb-3 sticky bg-gray-900">
    <a class="text-center w-20 hover:underline hover:transition" href="/">Home</a>
    <a class="text-center w-20 hover:underline hover:transition" href="/blog">Blog</a>
    <a class="text-center w-20 hover:underline hover:transition" href="/portfolio">Portfolio</a>
</nav>
