<nav class="flex top-0 justify-center items-center p-5">
    <a class="text-center w-20 hover:underline hover:transition text-blue-800" href="/">Home</a>
    <a class="text-center w-20 hover:underline hover:transition text-blue-800" href="/blog">Blog</a>
    <a class="text-center w-20 hover:underline hover:transition text-blue-800" href="/portfolio">Portfolio</a>
</nav>
