<div class="flex justify-center w-full space-x-5">
    <a class="transition hover:text-gray-400" href="https://linkedin.com/in/matthewsutanto" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
    </a>
    <a class="transition hover:text-gray-400" href="https://x.com/mtstnt_" target="_blank">
        <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a class="transition hover:text-gray-400" href="https://github.com/mtstnt" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
</div>