---
import HeadComponent from "../components/HeadComponent.astro";
import Navbar from "../components/Navbar.astro";
import SocialMedia from "../components/SocialMedia.astro";
import "../styles/content.css";

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <HeadComponent title={title} description={description} image={image} />
        <script src="https://kit.fontawesome.com/7f7355a069.js" crossorigin="anonymous"></script>
    </head>
    <body class="text-white bg-[#03001C]">
        <Navbar />
        <div class="w-11/12 mx-auto mt-3 xl:w-6/12">
            <div class="w-full">
                <slot />
            </div>
        </div>
    </body>
</html>
